<footer class="footer text-center">
    <div class="container">
        <div class="row">
            <!-- Footer Location-->
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">Ubicación</h4>
                <p class="lead mb-0">
                    San Luis Potosí
                    <br />
                    S.L.P
                </p>
            </div>
            <!-- Footer Social Icons-->
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">Redes Sociales</h4>
                <a class="btn btn-outline-light btn-social mx-1" href="https://www.facebook.com/Los-Puestecitos-107115684853859"><i class="fa-brands fa-facebook"></i></a>
                <a class="btn btn-outline-light btn-social mx-1" href="https://www.instagram.com/lospuestecitos/"><i class="fa-brands fa-instagram"></i></a>
            </div>
            <!-- Footer About Text-->
            <div class="col-lg-4">
              <img class="logfoot" src="../../../../assets/img/logo.png" alt="..." />
            </div>
        </div>
    </div>
  </footer>