<!-- About Section-->
<section class="page-section mb-0" id="about">
    <div class="container">
        <!-- About Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase">ACERCA DE NOSOTROS</h2>
        <!-- Icon Divider-->
  
        <!-- About Section Content-->
        <div class="row">
            <div class="col-lg-4 ms-auto">  <h2>Misión</h2> <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia rem veritatis maiores repellat corrupti illum voluptatem, unde similique provident aliquam, officiis atque ut blanditiis. Odit dicta exercitationem nostrum consectetur hic.</p></div>
            <div class="col-lg-4 me-auto"> <h2>Visión</h2><p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe odio accusantium nulla nostrum rerum eum nobis tenetur sequi iste quaerat, nesciunt, molestiae magnam dolorum distinctio iure vero delectus fugit beatae!</p></div>
        </div>
    </div>
  </section>
