<!-- About Section-->
<section class="page-section mb-0" id="about">
    <div class="container">
        <!-- About Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase">ACERCA DE NOSOTROS</h2>
        <!-- Icon Divider-->
  
        <!-- About Section Content-->
        <div class="row">
            <div class="col-lg-4 ms-auto">  <h2>Misión</h2> <p class="lead">Llevarle a tus invitados la mejor de las experiencias a través de nuetra gran variedad de snacks, haciendo de tu evento algo único, divertido y de gran calidad.</div>
            <div class="col-lg-4 me-auto"> <h2>Visión</h2><p class="lead">En los puestecitos trabajamos día a día en la mejora e inovación de nuestros productos para llegar a seguir siendo una empresa líder. </p></div>
        </div>
    </div>
  </section>
