<header class="masthead text-white text-center">
  <div class="container d-flex align-items-center flex-column">
       <!-- Masthead Avatar Image -->
      <img class="masthead-avatar mb-5" src="../../../../assets/img/logo.png" alt="..." />
       <!-- Masthead Heading -->
      <h1 class="masthead-heading text-uppercase mb-0">LOS PUESTECITOS</h1>
      <p>Snacks</p>
      <!-- Masthead Subheading -->
      <p class="masthead-subheading font-weight-light mb-0">"De tu evento la mejor opción"</p>
  </div>
</header> 

<app-about></app-about>
<app-galeria></app-galeria>
<app-contacto></app-contacto>




